{% extends "fbauth/base.html" %}

{% block title %}My Friends{% endblock %}
{%block head %}
<script type="text/javascript" src="{{ STATIC_URL }}raphael.js"></script>
<script src="{{ STATIC_URL }}grapher.js"></script>
{% endblock %}

{% block body %}
<input type="button" name="Request Friends" value="Request Friends" id="requestfriends" onclick="Dajaxice.fbauth.get_friend_ids(Dajax.process);">
<input type="button" name="Position Friends" value = "Position Friends" id = "positionfriends" onclick="Dajaxice.fbauth.position_friends(Dajax.process, {'engine': 'sfdp', 'width': $('#papercontainer').width(), 'height':$('#papercontainer').height()})">
<input type="button" name="Connect Friends" value="Connect Friends" id="connectfriends" onclick="Dajaxice.fbauth.connect_friends(Dajax.process);">

<div id="papercontainer"></div>
{% endblock %}